    {% extends 'base.html' %}
    {% load static %}
    {% block head %}
      <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    {% endblock head %}
    {% block body %}
      <main class="signup-main">
        <form class="signup-form" action="/signup/" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="signup-input">
              <label for="username">사용자 이름</label>
              <input type="text" id="username" name="username">
            </div>
            <div class="signup-input">
              <label for="nickname">별명</label>
              <input type="text" id="nickname" name="nickname">
            </div>
            <div class="signup-input">
              <label for="password1">패스워드</label>
              <input type="password" id="password1" name="password1">
            </div>
            <div class="signup-input">
              <label for="password2">패스워드 확인</label>
              <input type="password" id="password2" name="password2">
            </div>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <button type="submit" class="signup-submit">회원가입</button>
        </form>
      </main>
    {% endblock body %}