{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static '/css/todo.css' %}">
{% endblock head %}
{% block body %}
  <main class="todo-main">
    <nav class="todo-category">
      <div class="category-title">
        <h2>Todo Categories</h2>
      </div>
      <form action="{% url 'todolist:category-write' %}" method="post" class="category-add">
        {% csrf_token %}
        <input type="text" id="category-input" name="name" required maxlength="15"/>
        <button type="submit" class="category-addbtn">&#43;</button>
      </form>
        <div class="category-list">
        {% if categories %}
          {% for category in categories %}
            {% if category.pk == category_id %}
            <div class="category show">
            {% else %}
            <div class="category">
            {% endif %}
              <form action="{% url 'todolist:todo-detail' category_id=category.pk %}" method="get">
                <button type="submit" class="category-select" category="{{category.pk}}">{{category.name}}</button>
              </form>
              <div class="category-btnwrap">
                <form action="{% url 'todolist:category-update' category_id=category.pk %}" method="post">
                  <input type="hidden" id="category-update" name="name" required maxlength="15" />
                  <button type="button" class="category-update">&#9998;</button>
                  {% csrf_token %}
                </form>
                <form action="{% url 'todolist:category-delete' category_id=category.pk %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="category-delete" category="{{category.pk}}">&#215;</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>카테고리가 없습니다.</p>
        {% endif %}
        </div>
    </nav>
    <section class="todo-list">
      {% if todos %}
        {% for todo in todos %}
        {% if todo.is_clear %}
        <div class="todo-box clear">
          <input type="checkbox" class="todo-toggle" action="{% url 'todolist:todo-toggle' todo_id=todo.pk %}" checked>
        {% else %}
        <div class="todo-box">
          <input type="checkbox" class="todo-toggle" action="{% url 'todolist:todo-toggle' todo_id=todo.pk %}">
        {% endif %}
          <h3 class="todo-title">{{todo.title}}</h3>
          <p class="todo-content">{{todo.content}}</p>
          <button type="button" class="todo-update todo-button" action="{% url 'todolist:todo-update' todo_id=todo.pk %}">&#9998;</button>
          <form action="{% url 'todolist:todo-delete' todo_id=todo.pk %}" method="post" class="todo-button">
            {% csrf_token %}
            <button type="submit" class="todo-delete">&#215;</button>
          </form>
        </div>
        {% endfor %}
        <button type="button" class="show-editor">+</button>
      {% else %}
        {% if category_id %}
          <div class="todo-box">할 일이 없습니다.</div>
          <button type="button" class="show-editor">+</button>
        {% else %}
          <div class="todo-box">카테고리를 생성해주세요.</div>
        {% endif %}
      {% endif %}
    </section>
    {% if category_id %}
    <form class="todo-editor" action="{% url 'todolist:todo-write' category_id=category_id %}" method="post">
      <div class="editor-wrap">
        <label for="editor-title">제목</label>
        <input 
              type="text" 
              name="title" 
              id="editor-title" 
              class="editor-title" 
              maxlength="15"
              required
        />
        <label for="editor-content">내용</label>
        <textarea class="editor-content" name="content" id="editor-content" required></textarea>
        <div class="editor-buttonbox">
          <button type="button" class="editor-cancle">취소</button>
          <button type="submit" class="editor-submit">완료</button>
        </div>
      </div>
      {% csrf_token %}
      </form>
    {% endif %}
  </main>
{% endblock body %}
{% block js %}
  <script>
    const API = (url, data = null) => {
      const body = new FormData()
      if (data) {
        for (const name in data){
          body.append(name, data[name])
        }
      }
      fetch(url,{
        method: "post",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        },
            redirect: "follow",
            body: body,
        });
      }
    
    if ("{{ category_id }}" !== "None") {
      const todoEditor = document.querySelector(".todo-editor");
      const showEditorBtn = document.querySelector(".show-editor");
      const closeEditorBtn = document.querySelector(".editor-cancle");
      const todoToggleBtn = document.querySelectorAll(".todo-toggle");
      const todoUpdateBtn = document.querySelectorAll(".todo-update");
      const editorInput = todoEditor.querySelector(".editor-title");
      const editorTextarea = todoEditor.querySelector(".editor-content");

      const editorAPIUrl = todoEditor.getAttribute("action")

      const editorToggle = () => {
          todoEditor.classList.toggle("show");
          if (todoEditor.classList.contains("show")){
              todoEditor.querySelector("input").focus();
          }
      }
      showEditorBtn.addEventListener("click", () => {
        todoEditor.setAttribute("action", editorAPIUrl);
        editorInput.value = "";
        editorTextarea.value = "";
        editorToggle();
      })

      closeEditorBtn.addEventListener("click", () => {
         editorToggle();
      })

      todoToggleBtn.forEach((checkBox) => {
      const box = checkBox.parentElement;
      const url = checkBox.getAttribute("action");
      checkBox.addEventListener("change", () => {
        API(url);
        box.classList.toggle("clear");
        })
      })

      todoUpdateBtn.forEach((btn) => {
        const url = btn.getAttribute("action");
        const todoBox = btn.parentElement
        const title = todoBox.querySelector(".todo-title")
        const content = todoBox.querySelector(".todo-content")
        btn.addEventListener("click", ()=>{
          todoEditor.setAttribute("action", url);
          editorInput.value = title.innerText;
          editorTextarea.value = content.innerText;
          editorToggle();
        })
      })      
    }

    const categoryUpdateBtn = document.querySelectorAll(".category-update");

    categoryUpdateBtn.forEach((btn) => {
      const form = btn.parentElement;
      const input = form.querySelector("input");
      const category = form.parentElement.parentElement.querySelector(".category-select");
      btn.addEventListener("click", () => {
        if (input.value) {
          const url = form.getAttribute("action");
          API(url, data = {name: input.value});
          category.innerText = input.value;
          input.setAttribute("type", "hidden");
          input.value = "";
        }
        else {
          input.setAttribute("type", "text");
          input.value = category.innerText;
          input.focus();
        }
      })
    })
  </script>
{# <script src="{% static '/js/todo.js' %}" type="module"></script> #}
{% endblock js %}
</body>
</html>