    {% extends 'base.html' %}
    {% load static %}
    {% block head %}
      <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    {% endblock head %}
    {% block body %}
      <main class="signup-main">
        <form class="signup-form" action="{% url 'user:signup' %}" method="post">
          {% csrf_token %}
          <div class="signup-input">
            <label for="id_username">아이디</label>
            {{ form.username }}
          </div>
          <div class="signup-input">
            <label for="id_nickname">별명</label>
            {{ form.nickname }}
          </div>
          <div class="signup-input">
            <label for="id_password1">패스워드</label>
            {{ form.password1 }}
          </div>
          <div class="signup-input">
            <label for="id_password2">패스워드 확인</label>
            {{ form.password2 }}
          </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <button type="submit" class="signup-submit">회원가입</button>
        </form>
      </main>
    {% endblock body %}